.paper{
	background-image:url("../images/fabric.png");
}

li .nope{
	color:#f8f5c1 !important;
}

.about{
	background-color: #d9edf7 !important; 
}

.icon{
	display: inline;
	height: 40px;
	width: 40px;
	padding:3px;
}

.lin{
	height: 40px;
	width: 40px;
	padding: 1px;
}

a:hover .gth{
	background-color: #f8c1c7;
	border: 2px solid #4aaaa5;
}

a:hover .lin{
	background-color: #f8c1c7;
	border: 2px solid #4aaaa5;
}

a:hover .sof{
	background-color: #f8c1c7; 
	border: 2px solid #4aaaa5;
	padding: 2px;
}

.blue{
	border: 2px solid #84AED3;
}

.me{
	padding:0%;
	background-size: 100% auto;
	height: 14em;
	border:3px solid #d9edf7;
}

.pics{
	background-image: url("../images/birthday.JPG");
	background-repeat: no-repeat;
}

.main{
	margin: 2px;
}

.projects{
	height: 10em;
	padding:0;
	background-size: 100% auto;
	position: relative;
	border: 5px solid #d9edf7;
	
}

.projects p{
	margin-top:15%;
	position:absolute;
	width: 100%;
}

.hangman{
	background-image: url("../images/wirecoil.jpg");
	background-repeat: no-repeat;
}

.liri{
	background-image: url("../images/pad.jpg");
	background-repeat: no-repeat;
}

.trivia{
	background-image: url("../images/headphones.jpg");
	background-repeat: no-repeat;
}

.marvel{
	background-image: url("../images/switches.jpg");
	background-repeat: no-repeat;
}

.burgers{
	background-image: url("../images/machine.jpg");
	background-repeat: no-repeat;
}

.lastbot{
	background-image: url("../images/newyork.jpg");
	background-repeat: no-repeat;
}

form{
	padding-bottom:3px;
}

footer{
	border-top: 2px solid #e6e6e6;
}

body { padding-top: 50px; }

@keyframes prettyLogo {
    0%   {background-color: #f8c1c7;}
    25%  {background-color: #ddc6ff;}
    50%  {background-color: #d9edf7;}
    75% {background-color: #c1f8cd;}
    100% {background-color: #f8f5c1;}
}

.logo{
	width: 111%;
    height: 50px;
    background-color: #f8c1c7;
    animation: prettyLogo 5s linear 2s infinite alternate;
}